@charset "utf-8";

$grid-columns:48 !default;
$grid-gutter-width-base:4px !default;

$btn-padding-x:0.25rem;
$btn-padding-y:0.38rem;

$font-family-sans-serif: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, '游ゴシック', YuGothic,  Osaka, 'MS PGothic', arial, helvetica, sans-serif;
$font-size-root: 14px;
$font-family-serif:$font-family-sans-serif;
$font-family-monospace:$font-family-sans-serif;
// $icon-font-path: '../node_modules/bootstrap-sass/assets/fonts/bootstrap/';
